header {
  box-shadow: 2px 2px 2px var(--black-10-percent);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 40px;
  }

  img {
    width: 70px;
    height: 70px;
  }
}
