<div class="footer">
  <div class="links">
    <a routerLink="/">
      <img src="/assets/img/logo.png" alt="logo" />
    </a>
    <div>
      <h4>Rechtliches</h4>
      <a-b variant="save"></a-b>
      <a-b variant="delete"></a-b>
      <a-b text="Geschäftsbedingungen"></a-b>
      <a-b ext="Datenschutzbestimmungen"></a-b>
      <a-b text="Widerrufsrecht"></a-b>
      <a-b text="Impressum"></a-b>
    </div>
    <div>
      <h4>Informationen</h4>
      <a-b text="Versandkosten und Lieferzeiten"></a-b>
      <a-b text="Zahlungsmethoden"></a-b>
      <a-b text="Datenschutz"></a-b>
      <a-b text="Cookie-Einstellungen"></a-b>
      <a-b text="Allgemeine Geschäftsbedingungen"></a-b>
      <a-b text="Widerrufsrecht"></a-b>
    </div>
    <div>
      <h4>Service</h4>
      <a-b text="Häufig gestellte Fragen/FAQ"></a-b>
      <a-b text="Suchen"></a-b>
      <a-b text="Kontakt"></a-b>
    </div>
  </div>
  <div class="batches">
    <p>Batches</p>
  </div>
  <div class="copyright">
    <p>© 2023 Spellbook.com</p>
  </div>
</div>
