<div class="footer">
  <div class="links">
    <a routerLink="/">
      <img src="/assets/img/logo.png" alt="logo" />
    </a>
    <div>
      <h4>Rechtliches</h4>
      <app-link text="Geschäftsbedingungen"></app-link>
      <app-link text="Datenschutzbestimmungen"></app-link>
      <app-link text="Widerrufsrecht"></app-link>
      <app-link text="Impressum"></app-link>
    </div>
    <div>
      <h4>Informationen</h4>
      <app-link text="Versandkosten und Lieferzeiten"></app-link>
      <app-link text="Zahlungsmethoden"></app-link>
      <app-link text="Datenschutz"></app-link>
      <app-link text="Cookie-Einstellungen"></app-link>
      <app-link text="Allgemeine Geschäftsbedingungen"></app-link>
      <app-link text="Widerrufsrecht"></app-link>
    </div>
    <div>
      <h4>Service</h4>
      <app-link text="Häufig gestellte Fragen/FAQ"></app-link>
      <app-link text="Suchen"></app-link>
      <app-link text="Kontakt"></app-link>
    </div>
  </div>
  <div class="batches">
    <p>Batches</p>
  </div>
  <div class="copyright">
    <p>© 2023 Spellbook.com</p>
  </div>
</div>
