<div class="feed">
  <div class="breadcrump">BreadCrump</div>

  <app-filter></app-filter>

  <h2>Selected Category</h2>
  <div class="list-settings">
    <div class="sort">
      <label for="sort">Sort: </label>
      <select name="sort" id="sort">
        <option value="new">Newest</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
      </select>
      <button
        class="sort-direction"
        (click)="toggleSortDirection(sortDirection)"
      >
        <app-svg *ngIf="sortDirection === 'asc'" variant="arrowUp" width="20px">
        </app-svg>
        <app-svg
          *ngIf="sortDirection === 'desc'"
          variant="arrowDown"
          width="20px"
        >
        </app-svg>
      </button>
    </div>
    <div class="amount">
      <span>4 Products</span>
      <label for="amount">Show: </label>
      <select name="amount" id="amount">
        <option value="16">16</option>
        <option value="32">32</option>
        <option value="48">48</option>
        <option value="64">64</option>
      </select>
    </div>
  </div>

  <ul class="product-list">
    <li *ngFor="let product of products; index as i">
      <app-product-card
        [name]="product.name"
        [src]="product.imageSource"
        [price]="product.price"
        [id]="product.id"
      ></app-product-card>
      <button class="cart-button" (click)="addToCart(product)">
        <app-svg variant="cart" width="18px" fill="white"></app-svg>
        Add to Cart
      </button>
      <button (click)="addToWish(product)">Add to Wishlist</button>
    </li>
  </ul>
</div>
