<a routerLink="/feed">Back</a>

<div class="product">
  <h1>{{ name }}</h1>
  <p>ID: {{ id }}</p>

  <img src="{{ imageSource }}" alt="{{ name }}" />

  <p>"{{ description }}"</p>
  <p>Price: {{ price }} €</p>
  <p>Stock {{ stock }}</p>

  <div>
    <!-- should only give id ... displaying it by iterating though products array in cart component later -->
    <button
      (click)="
        addToCart({
          id: id,
          name: name,
          price: price,
          imageSource: imageSource
        })
      "
    >
      Add to cart
    </button>
    <button>Add to Wishlist</button>
  </div>
</div>
