:root {
  --primary-clr: white;
  --secondary-clr: white;

  --black-5-percent: rgba(0, 0, 0, 0.05);
  --black-10-percent: rgba(0, 0, 0, 0.1);
  --black-30-percent: rgba(0, 0, 0, 0.3);
  --black-50-percent: rgba(0, 0, 0, 0.5);
  --black-80-percent: rgba(0, 0, 0, 0.8);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black-5-percent);
}

.standard-card {
  background-color: white;
  width: 350px;
  border: 1px solid var(--black-10-percent);
  border-radius: 5px;
}

//general positioning classes

.margin-bottom-16 {
  margin-bottom: 16px;
}

.padding-16 {
  padding: 16px;
}

.padding-top-10 {
  padding-top: 10px;
}
