*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //colors
  --primary-clr: white;
  --secondary-clr: white;
  --accent: ;

  --black-5-percent: rgba(0, 0, 0, 0.05);
  --black-10-percent: rgba(0, 0, 0, 0.1);
  --black-30-percent: rgba(0, 0, 0, 0.3);
  --black-50-percent: rgba(0, 0, 0, 0.5);
  --black-80-percent: rgba(0, 0, 0, 0.8);

  //background-colors
  --bg-clr-light: ;
  --bg-clr-dark: ;

  //border-radius
  --br-5px: 5px;
  --br-round: 50%;
}

body {
  background-color: var(--black-5-percent);
}

//HELPER

//Interactivity
.cursor-p {
  cursor: pointer;
}

//Positioning
.margin-bottom-16 {
  margin-bottom: 16px;
}

.padding-16 {
  padding: 16px;
}

.padding-top-10 {
  padding-top: 10px;
}
